/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.mat-expansion-indicator::after {
    color: rgb(255 124 30 / 54%);
    font-weight: bold;
}

@media screen and (max-width: 1000px) {
    body{
        height: auto !important;
        align-items: flex-end;
    }
}